<!DOCTYPE html>
<html>
<head>
	<title>Grocery Listify</title>
	<link rel="stylesheet" type="text/css" href="skeleton/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="skeleton/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="container">
		<div id="app">
			<%- reactOutput %>
		</div>	
	</div>
	<script src="app.js"></script>
</body>
</html>